body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 30px;
}

h2 {
    font-weight: 100;
    font-size: 25px;
}

.title {
    padding-left: 30%
}
#stacked-bar {
    width: 100%;
    height: 600px;
}

#positionDiv {
    width: 100%;
    height: 700px;
}

.background{
    background-image: url("../img/colossaltitan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 250px;
}

#stacked-bar-sidebar {
    align-self: center;
    text-align: center
}
#pos-line-chart, #pos-bar-chart {
    height: 50%;
    width: 100%;
}